.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    margin: 0 20%;
}

nav .brand-logo {
    color: #000000;
    font-size: 2.4rem;
}

nav .brand-logo img {
    vertical-align: middle;
    width: 80px;
}

nav {
    background-color: transparent;
    height: 80px;
    line-height: 80px;
    border-bottom: solid 2px #005231;
    box-shadow: none;
}

nav ul a {
    font-size: 1.6rem;
    font-weight: bold;
    color: #005231;
}

nav ul a:hover,
nav ul li.active a {
    background: #005231;
    color: #ffffff;
}

.balance-period {
    margin: 30px 0;
}

.balance-period span {
    font-weight: bold;
}

.btn, .btn-large, .btn-small {
    background-color: #000000;
}

.btn:hover, .btn-large:hover, .btn-small:hover,
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: #666666;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}

table.services {
    margin-left: 5%;
}

table.services tr:last-child {
    border-bottom: none;
}
