/* vietnamese */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Encode Sans Condensed Regular'), local('EncodeSansCondensed-Regular'), url(/static/fonts/encodesanscondensed-01.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Encode Sans Condensed Regular'), local('EncodeSansCondensed-Regular'), url(/static/fonts/encodesanscondensed-02.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Encode Sans Condensed Regular'), local('EncodeSansCondensed-Regular'), url(/static/fonts/encodesanscondensed-03.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Encode Sans Condensed Bold'), local('EncodeSansCondensed-Bold'), url(/static/fonts/encodesanscondensed-04.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Encode Sans Condensed Bold'), local('EncodeSansCondensed-Bold'), url(/static/fonts/encodesanscondensed-05.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Encode Sans Condensed Bold'), local('EncodeSansCondensed-Bold'), url(/static/fonts/encodesanscondensed-06.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
