<script type="text/javascript" src="/static/js/Balance.js"></script>
<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/materializecss/1.0.0/js/materialize.min.js"></script>
